.lvs-overlay {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
  box-shadow: inset rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
