.home-link {
  display: block;
  background-color: var(--primary-color);
  margin: 30px;
  color: white;
  border-radius: 14px;
}

.home-link li::after {
  content: " >";
  position: absolute;
  transition: all 0.5s ease;
}

.home-link:hover {
  box-shadow: rgb(126, 126, 126) 0px 10px 29px 0px;
}
