.navbar {
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  position: fixed;
  z-index: 999;
}

nav a {
  color: inherit !important;
}
.navbar-toggler {
  border: 1px solid white;
}
