.navbar {
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  position: fixed;
  z-index: 999;
}

nav a {
  color: inherit !important;
}
.navbar-toggler {
  border: 1px solid white;
}

.navbar-brand hr {
  width: 0;
  opacity: 0;
  transition: all 1s ease ;
}
.navbar-brand:hover hr {
  width: 100%;
  opacity: 1;
}
