.drink-list {
  justify-content: center;
  align-items: center;
}
.drink-item:first-child {
  width: 100%;
}
.drink-item img {
  transition: all 0.5s ease;
}

.drink-item img:hover {
  transform: scale(1.5);
  margin: 0 150px 200px 0;
  z-index: 111;
}

.drink-item {
  padding: 10px;
}
