.drink-list {
  justify-content: center;
  align-items: center;
}
.drink-item img {
  transition: all 0.5s ease;
}

.drink-item img:hover img {
  z-index: 1000;
}

.drink-item img:hover {
  transform: scale(1.5);
}

.drink-item {
  padding: 10px;
}
