.drink-list {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 30%;
  border-radius: 5px;
}

.drink-item > img {
  max-width: 100%;
  height: 500px;
}

.drink-item {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex: 50% 0 0;
  scroll-snap-align: start;
}

.drink-list::-webkit-scrollbar {
  width: 1em;
  height: 10px;
}

.drink-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.drink-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
