:root {
  --primary-color: #28a745;
  --secondary-color: #2f7338;
}
.section__Title {
  color: var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29rem 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

Link,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit !important;
}

section {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 4px;
}
