.slider-image {
  width: 100%;
  height: auto;
}
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}


.image-gallery-image {
  object-fit: fill !important;
}

.image-gallery-svg {
  opacity: 40%;
}

.image-gallery-svg:active {
  opacity: 100%;
}
.image-gallery-description {
  right: 0;
  top: 5px;
  text-align: right;
  height: 2rem;
}