.list-Menu {
  gap: 10px;
  justify-content: space-around;
}
.combo__Item {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.25s ease;
}

.combo__Item:hover {
  color: white !important;
}
.chart__Contain {
  height: 300px;
  overflow-y: scroll;
}