.bg-menu {
  background-image: url("https://scontent.fsgn5-2.fna.fbcdn.net/v/t39.30808-6/400457728_122126859932037350_334640634613127987_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF_jP07JywOPGryn3sxzpV3lQAXz1oXoHCVABfPWhegcAb5E42gP7iWU7RHoeRdNpoJ9CuyjVEY4T6DNTNru4z2&_nc_ohc=QmlKkVP1A9IAX8fv7xl&_nc_ht=scontent.fsgn5-2.fna&oh=00_AfAEPceFK2qNn_GcYuO7-rMA-BxWoFtuJ5y-h9LP56NYQg&oe=6563583B");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  min-height: 100dvh;
  padding: 30px 0;
}
.menu-container {
  padding: 5px;
  justify-content: center;
  border-radius: 14px;
  margin-top: 100px;
  background-color: var(--secondary-color);
}

.cloudpot-logo {
  border-radius: 14px;
}

.menu-item {
  border-radius: 10px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  color: white;
}

.menu-item:hover {
  background-color: var(--primary-color);
}

.dropdown-menu {
  border-radius: 10px;
  width: 75%;
  display: block;
  position: absolute;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease;
}

.menu-item:hover .dropdown-menu {
  opacity: 1;
}
.dropdown-menu a {
  display: block;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
  position: relative;
  padding: 10px 30px;
}

.dropdown-menu a::after {
  content: "";
  width: 90%;
  background-color: var(--primary-color);
  height: 1px;
  border-radius: 14px;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.combothanhtao {
  right: 10px;
  top: 10px;
}

.naviMenu {
  text-align: center;
  position: fixed;
  right: 5px;
  top: 40%;
  color: white;
  border-radius: 5px;
  z-index: 9999;
  background-color: var(--primary-color);
  transform: translateX(4.9rem);
  transition: all 0.4s;
  cursor: pointer;
}

.naviMenu::before{
  content: "<";
  position: absolute;
  left: 3px;
  top: 40%;
}

.naviMenu:hover {
  transform: translateX(0);
}

.naviMenu li {
  padding: 5px;
  border-radius: 5px;
}

.naviMenu a:hover li {
  background-color: var(--secondary-color);
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: var(--primary-color);
  opacity: 30%;
  transition: all 0.2s ease;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.back-to-top:hover {
  background-color: var(--secondary-color);
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
}


/* Add this to your existing CSS */
.open-dropdown {
  display: block;
}

.dropdown-button {
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: var(--secondary-color);
}
